version: "3.9"
services:
  # go-app:
  #   # image: golang:alpine
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: go-app
  #   ports: 
  #     - 3333:3333
  #   volumes:
  #     - ./:/usr/src/app
  #   depends_on: 
  #     - postgres-db
  #   networks:
  #     - compose-bridge
  postgres-db:
    image: postgres:alpine3.19
    container_name: postgres-db
    environment:
      - POSTGRES_PASSWORD=123
    ports:
      - 5432:5432
    networks:
      - compose-bridge
networks:
  compose-bridge:
    driver: bridge
